<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
      <%= link_to root_path, class: 'navbar-brand fa-stack' do %>
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-camera fa-stack-1x fa-inverse"></i>
      <% end %>
    <div class="m-auto">
      <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
      </form>
    </div>
    <div class="user-section">
      <a><i class="fa fa-compass"></i></a>
      <a><i class="fa fa-heart"></i></a>
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do %>
          <i class='fa fa-user'></i>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <i class='fa fa-user-edit'></i>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class='fa fa-sign-out-alt'></i>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <i class='fa fa-user-plus'></i>
        <% end %>
        <%= link_to new_user_session_path do %>
          <i class='fa fa-sign-in-alt'></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>