<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.google_analytics %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());

      document.addEventListener("turbolinks:load", function(event) {
        gtag('config', '<%= Rails.application.credentials.google_analytics %>', {
          page_location: event.data.url,
          page_path: event.srcElement.location.pathname,
          page_title: event.srcElement.title
        });
      })
    </script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
    <main class="container" style="min-height: 500px;"> 
      <%= yield %>
      <%= debug(params) if Rails.env.development? %> 
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
